body {
    background-color: #14123D;
}

form {
    border: 3px solid #000000;
    color: whitesmoke;
}

input[type=text], input[type=password] {
    background-color: #dedede;
    border: 1px solid #000000;
}

button {
    background-color: #dedede;
    color: #CA7D02;
    border: 2px, #CA7D02;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

input:focus {
    color: #CA7D02;
    outline: 2px solid #CA7D02;
}

input::selection {
    color: #CA7D02;
}
