:root {
    --BODY_BACKGROUND: rgba(35, 39, 46, 255);
    --CONTAINER_BACKGROUND: rgba(34, 20, 40, 255);
    --BOX_BACKGROUND: #dedede;
    --BUTTON_COLOUR: rgba(103, 63, 115, 255);
    --BORDER_COLOUR: rgba(103, 63, 115, 255);
    --TEXT_COLOUR: rgba(188, 109, 222, 255);
  }

body {
    background-color: var(--BODY_BACKGROUND);
}

form {
    border: 3px solid var(--BORDER_COLOUR);
    color: whitesmoke;
}

input[type=text], input[type=password] {
    background-color: var(--BOX_BACKGROUND);
    border: 1px solid var(--BORDER_COLOUR);
}

button {
    background-color: var(--BOX_BACKGROUND);
    color: var(--BUTTON_COLOUR);
    border: 2px, var(--BORDER_COLOUR);
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.container {
    background-color: var(--CONTAINER_BACKGROUND);
    color: var(--TEXT_COLOUR);
}

input:focus {
    color: var(--BUTTON_COLOUR);
    outline: 2px solid var(--BORDER_COLOUR);
}

input::selection {
    color: var(--BUTTON_COLOUR);
}

body {
    color: var(--TEXT_COLOUR);
}