.content {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 1%;
    width: 60%;
    margin: auto;
}

.content-split {
    margin-top: 5%;
    width: 100%;
}

.product-main-view {
    width: 80%;
    border: 1vw solid var(--BORDER_COLOUR);
}

.vertical {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 1%;
    width: 100%;
    margin: auto;
    text-align: left;
}

.vertical-split {
    height: 100%;
}

.bottom {
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

.bottom form {
    flex: 1;
    box-sizing: border-box;
}

.product-button {
    margin-top: 15%;
    width: 100%;
}

h1 {
    font-size: 3vw;
}
h2 {
    font-size: 1.5vw;
}
h3 {
    font-size: 1vw;
}
h4 {
    font-size: 0.5vw;
}