
html, body { height: 100vh; margin: 0;   display: flex;
  flex-direction: column;}
/* Carousel container */
.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem; /* space between items */
  padding: 1rem;
}
.carousel-container::-webkit-scrollbar {
  display: none; /* hides scrollbar for WebKit browsers */
}
.carousel-item {
  height: 20%;
  width: 20%;
  flex: 0 0 auto; /* Prevent items from shrinking */
}

.footer {
  margin-top: auto;
  height: 4rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
}

.has-bg-img {
  background: url('./header.jpg') center;
  background-size: cover;
}